* {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

h1{
    display: inline;
}
header {
    display:inline-block;
}

body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #FFF;

}

main {

    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
} 

.input-texto {

    margin-top: 90px;
}

.mensaje {

    position: relative;
    margin-top: 20px;
    margin-left: 90px;
    background-image: url("imagenes/muñeco.png");
    background-repeat: no-repeat;
    background-position: 18px;
    background-size: 300px;

}

.copiar {

    position: relative;
    margin-top: 20px;
    margin-left: 205px;

}

.botones {

    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

button {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 0.8rem;

}

#encript {

    background-color: darkblue;
    color:white;

}

#descript {

    margin-left: 30px;

}

.informacion {

    font-size: 15px;

}

h1 {

    text-align: center;
    background-color: #EEEEEE;

}